<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promotionDefinition">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.promotionDefinition.detail.title">Promotion Definition</span> {{ promotionDefinition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.promotionDefinition.promotionDefinitionId">Promotion Definition Id</span></dt>
                <dd>
                    <span>{{ promotionDefinition.promotionDefinitionId }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.promotionDefinition.promoCode">Promo Code</span></dt>
                <dd>
                    <span>{{ promotionDefinition.promoCode }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promotion-definition', promotionDefinition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
