<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="district">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.district.detail.title">District</span> {{ district.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.district.code">Code</span></dt>
                <dd>
                    <span>{{ district.code }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.district.explanation">Explanation</span></dt>
                <dd>
                    <span>{{ district.explanation }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/district', district.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
